@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
.submit {
  background-color: #4baf4f;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  border-color: transparent;
}

.field {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-bottom: 20px;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}